* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #333;
}


/*header*/

header {
    height: 45rem;
}

header .header-img {
    position: absolute;
    background-image: url(../img/header-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    opacity: 0.2;
    z-index: -1;
}

header h1 {
    padding: 14rem;
    padding-bottom: 0;
}

header p {
    font-size: 2rem;
}

img {
    width: 100%;
    height: 100%;
}

.butonlar {
    margin-top: -12rem;
}

.hr {
    display: inline-block;
    border-top: 1px solid #fff;
    width: 100%;
    margin-top: 2rem;
}

button {
    border: none;
    outline: none;
    background: none;
    color: aqua;
    margin-left: 3rem;
    font-size: 2rem;
    background: #333;
    padding: 2rem;
    border: #222;
    cursor: pointer;
    border-radius: 5rem;
    transition: background .3s;
}

.linkler {
    margin-top: 3rem;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background: #fff;
    color: black;
}

@media screen and (max-width: 400px) {
    .p1 {
        display: none;
    }
    .p2 {
        display: none;
    }
    #butnav {
        display: none;
    }
    .hr {
        display: none;
    }
    #butnav {
        display: none;
    }
    h1 {
        font-size: 5rem;
    }
    .p3 {
        font-size: 3rem;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .p1 {
        display: none;
    }
    .p2 {
        display: none;
    }
    #butnav {
        display: none;
    }
    .hr {
        display: none;
    }
    #butnav {
        display: none;
    }
    h1 {
        font-size: 5rem;
    }
    .p3 {
        font-size: 3rem;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 801px) {
    .p1 {
        display: inline-block;
    }
    .p2 {
        display: inline-block;
    }
    #butnav {
        display: inline-block;
    }
    .hr {
        display: inline-block;
    }
    #butnav {
        display: inline-block;
    }
    h1 {
        font-size: 5rem;
    }
    .p3 {
        display: inline-block;
    }
}
